<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>வியப்பு  வாக்கியம் (Exclamatory) - பேச்சு உருவாக்கம்</title>
<link rel="icon" type="image/png" href="../../../static/images/tamil.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    />
    <link rel="stylesheet" href="../../../static/css/styles.css" />
  </head>
  <body>
    <div class="quote-container" id="quote-container">
      <!-- Quote -->
      <form action = "http://localhost:5000/save/{{text}}/{{cont}}" method = "post">
      <div class="quote-text result-container">
        <h1 class="result-title">{{text}}</h1>
        <h1 class="result-text"> - வியப்பு  வாக்கியம் (Exclamatory).</h1>
          <p class="long-text">இவை வியப்பு, மகிழ்ச்சி, துயரம் போன்ற உணர்ச்சிகளைக் கொண்டுள்ள வாக்கியமாகும். இதில் வியப்புக் குறி முடிவில் காணப்படும். </p>
          <div class="button-container">
              <button class="correct-btn" name="result" value="correct exclamatory">✓ சரி</button>
              <button class="wrong-btn" name="result" value="wrong exclamatory">✘ தவறு</button>
          </div>
      </div>
      <!-- Author -->
      <!--
      <div class="quote-author">
        <span id="author"></span>
      </div>
      -->
      <!-- Buttons--> </form>
        <form action ="http://localhost:5000" method="get">

          <button class="home-button" id="new-quote1" name="home" value="go_to_homepage">🏠 முகப்பு பக்கத்திற்கு செல்லவும்</button>

        </form>
    </div>

    <!-- Loader -->
    <div class="loader" id="loader" hidden></div>
    <!-- Scripts-->
    <script src="../static/js/scripts.js"></script>
  </body>
</html>